version 5.226.0
source https://api.nuget.org/v3/index.json

storage: none
framework: netstandard2.0

nuget FSharp.Core ~> 4.7
nuget Fake.BuildServer.AppVeyor
nuget Fake.Core
nuget Fake.Core.Environment
nuget Fake.Core.Process
nuget Fake.Core.ReleaseNotes
nuget Fake.Core.Target
nuget Fake.Core.UserInput
nuget Fake.DotNet.Cli
nuget Fake.DotNet.Fsi
nuget Fake.DotNet.Paket
nuget Fake.Api.Github
nuget Fake.Tools.Git
nuget SynVer.FAKE
nuget Paket.Core

group Docs
  source https://api.nuget.org/v3/index.json

  framework: netstandard2.0
  storage: packages

  nuget FSharp.Compiler.Service ~> 35.0
  nuget FSharp.Formatting ~> 4.1
  nuget Newtonsoft.Json

group reference

source https://api.nuget.org/v3/index.json
framework: netstandard2.0

storage: packages
nuget FSharp.Compiler.Service 35.0.0