frameworks: net45, netstandard16, netcoreapp10

# source https://www.myget.org/F/dotnet-core/api/v3/index.json
source https://www.nuget.org/api/v2/

nuget NUnit 2.6.3
nuget NUnit.Runners 2.6.3
nuget SQLite.Net-PCL 3.0.5
nuget SQLite.Net.Platform.Generic 2.4.1

# build dependencies
nuget FAKE
nuget FSharp.Formatting
nuget SourceLink.Fake
nuget FsLexYacc
nuget FSharp.Core 4.1.0.2
nuget FSharp.Compiler.Tools 4.1.1

nuget System.Collections.Immutable 1.3.1
nuget System.Reflection.Metadata 1.4.2
nuget Microsoft.DiaSymReader.PortablePdb 1.2.0
nuget Microsoft.DiaSymReader 1.1.0

github fsharp/FAKE modules/Octokit/Octokit.fsx