frameworks: net46, netstandard16, netcoreapp10

source https://www.myget.org/F/dotnet-core/api/v3/index.json
source https://www.nuget.org/api/v2/

nuget NUnit 2.6.3
nuget NUnit.Runners 2.6.3
nuget SQLite.Net-PCL 3.0.5
nuget SQLite.Net.Platform.Generic 2.4.1

# build dependencies
nuget FAKE
nuget FSharp.Formatting
nuget SourceLink.Fake
nuget fssrgen
nuget FSharp.SRGen.Build.Tasks
nuget FsLexYacc
nuget FSharp.Core 4.0.0.1

nuget System.Collections.Immutable 1.2.0
nuget System.Reflection.Metadata 1.4.1-beta-24227-04
nuget Microsoft.DiaSymReader.PortablePdb 1.1.0
nuget Microsoft.DiaSymReader 1.0.8

github fsharp/FAKE modules/Octokit/Octokit.fsx